# Ignore all files in the root directory
/*

# But don't ignore these specific files and directories
!.gitignore
!README.md
!run_app.py
!main.py
!RUN.bat
!ngrok.exe
!CLEAN_FOLDERS.bat
!copy_and_clean.py
!README.txt
!import_report.gs
# Don't ignore the 'data' directory, but ignore its contents
!/data/
/data/*
# Except for these files
!/data/config.csv
!/template_update_generator.py
# Don't ignore the 'amazon exports' directory and its contents
!/amazon exports/

/amazon exports/*/*
!/amazon exports/*/.gitkeep

#Don't ignore the 'data/amazon' directory 
!/data/amazon/
/data/amazon/*
!/data/amazon/.gitkeep
#Don't ignore the 'utils' directory and its contents
!/utils/
!/utils/**

# Don't ignore the 'results' directory, but ignore its contents
!/results/
/results/*
!/results/.gitkeep

# Don't ignore the 'setup' directory and its contents
!/Setup AMAZON BORDERS FBA REPORT /
!/Setup AMAZON BORDERS FBA REPORT /**

# Python-specific ignores
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

Setup/ngrok.exe
/data/template.csv
